# Add any directories, files, or patterns you don't want to be tracked by version control*.o
*.elf
*.map
*.d
*.bak
/nbproject/private
*/nbproject/private
**/nbproject/private
/nbproject/Makefile-*
*/nbproject/Makefile-*
**/nbproject/Makefile-*
/nbproject/Package-*
*/nbproject/Package-*
**/nbproject/Package-*
**/.mhc_backup
**/*.X/debug
**/*.X/dist
**/*.X/build
bin/framework/peripheral/**/*.a
doc/html/**/*
asset.cache
*.DS_Store
